@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* * {
    background-color: rgb(235, 231, 231);
    margin: 0;
} */

/* heading navbar */
.navbar {
    display: flex;

    width: Fixed;
    padding: 24px 160px 24px 160px;
    gap: 0px;
    justify-content: space-between;
    opacity: 0px;
}

.nav-heading {
    font-size: 32px;
    font-weight: 700;
    margin: 0px;

}

.nav-btn {
    font-size: 18px;
    font-weight: 600;
    weight: 100px;
    height: 40px;
    border: 1px solid #006A50;
    border-radius: 8px;
    margin: 0px;
    color: #006A50;
    cursor: pointer;

}

/* section hero */
.hero {
    background-color: #C6E4D6;
    width: 1200px;
    height: 520px;
    margin: 0 auto;
    border-radius: 10px;
}


.hero-img {
    width: 474px;
    height: 400px;
    text-align: right;
}

.hero-1 {

    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 55px 20px 30px 28px;
}

.hero-text h1 {
    font-size: 50px;
    font-weight: 700;
    margin: 20px 0px;
}

.hero-text p {
    color: #0E0E0E80;
    font-size: 24px;
    font-weight: 500;
}

.btn {
    font-size: 18px;
    font-weight: 600;
    padding: 17px 34px 17px 34px;
    background-color: #006A50;
    color: white;
    border-radius: 5px;
    border: 0;
}

/* pillars section */
.box-head h2{
    font-size: 40px;
    font-weight: 700;

}
.box1 .box2 .box3 .box4 img {
    width: 64px;
    height: 64px;
}

.box1 {
    width: 285px;
    /* height: 200px; */
    padding: 24px 0px 0px 0px;
    gap: 28px;
    border-radius: 16px;
    border: 1px 0px 0px 0px;
    opacity: 0px;
    background-color: #f1f0f0;
}
.box2 {
    width: 285px;
    /* height: 200px; */
    padding: 24px 0px 0px 0px;
    gap: 28px;
    border-radius: 16px;
    border: 1px 0px 0px 0px;
    opacity: 0px;
    background-color: #f1f0f0;
}
.box3 {
    width: 285px;
    /* height: 200px; */
    padding: 24px 0px 0px 0px;
    gap: 28px;
    border-radius: 16px;
    border: 1px 0px 0px 0px;
    opacity: 0px;
    background-color: #f1f0f0;
}
.box4 {
    width: 285px;
    /* height: 200px; */
    padding: 24px 0px 0px 0px;
    gap: 28px;
    border-radius: 16px;
    border: 1px 0px 0px 0px;
    opacity: 0px;
    background-color: #f1f0f0;
}
.all-box{
    display: flex;
    justify-content: space-evenly;
    
}
.all-box h4{
    font-size: 20px;
    font-weight: 700;
    color: #0E0E0ECC;
}
.box{
    padding: 50px 150px;
}
.all-box p{
    color: #0E0E0EB2;
}